// Slide
.slide-enter-active,
.slide-leave-active {
  transition: 1s ease;
}

.slide-enter-to,
.slide-leave {
  overflow: hidden;
}

.slide-enter,
.slide-enter-from,
.slide-leave-to {
  overflow: hidden;
  max-height: 0;
}

// Fade
.fade-enter-active,
.fade-leave-active {
  transition: all .3s ease;
}

.fade-enter,
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
