:root {
  @each $name, $value in $css-vars {
    --#{$name}: #{$value};
  }
}

html,
body {
  font-family: $font-family-sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  background-color: var(--body-bg);
  color: var(--text-color);
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

a {
  color: var(--link-color);
  text-decoration: $link-decoration;

  &:hover {
    color: var(--link-color-hover);
    text-decoration: $link-decoration-hover;
  }

  &:focus {
    @include focus-shadow($primary);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  letter-spacing: -0.025em;
}

input,
button,
textarea {
  font-weight: 500;
}
