.button {
  appearance: none;
  border: none;
  background: none;
  padding: 0.6em 1.5em;
  border-radius: var(--border-radius, #{$border-radius-sm});

  //Variants (Colors)
  &-default {
    --button-color: var(--white);
  }

  &-inverted {
    --button-color: var(--black);
    color: var(--white);
  }

  &-primary {
    --button-color: #{$gradient};
    color: $white;
  }

  &-secondary {
    --button-color: #{$gradient-secondary};
    color: $white;
  }

  &-muted {
    --button-color: var(--gray-600);
    color: var(--white);
  }

  &-supermuted {
    --button-color: var(--gray-100);
    color: var(--gray-700);
  }

  //Types
  &-solid {
    background: var(--button-color);
    transition: 0.25s ease;

    &.button-default {
      color: var(--black);
    }
  }

  &-outline {
    border-width: 2px;
    border-color: var(--button-color);
    border-style: solid;
    color: var(--button-color);
    transition: 0.25s ease;

    &.button-supermuted {
      color: var(--gray-700);
    }

    &.button-primary,
    &.button-secondary {
      border-color: transparent;
      background: linear-gradient(var(--white), var(--white)) padding-box,
        var(--button-color) border-box;

      span {
        background: var(--button-color);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &:hover {
        background: var(--button-color) padding-box,
          var(--button-color) border-box;

        span {
          background: $white;
          -webkit-background-clip: text;
          background-clip: text;
        }
      }
    }

    &:hover {
      background: var(--button-color);
      color: $white;
    }

    &.button-default:hover {
      color: var(--black);
    }

    &.button-inverted:hover {
      color: var(--white);
    }

    &.button-supermuted:hover {
      color: var(--black);
      background: var(--white);
      border-color: var(--white);
    }
  }

  //Shadow
  &-has-shadow {
    &.button-solid {
      box-shadow: $shadow-default;
    }

    &:hover {
      box-shadow: $shadow-raised;
      transform: translateY(-4%);
    }
  }

  //Sizes
  &-sm {
    --border-radius: #{$border-radius-xs};
  }

  &-md {
    --border-radius: #{$border-radius-sm};
  }

  &-lg {
    --border-radius: #{$border-radius-sm};
  }

  &-xl {
    --border-radius: #{$border-radius-md};
    padding: 1.25rem calc(1.5rem + 3vw);
  }

  //Focus
  &:focus {
    @include focus-shadow($primary);
  }

  &-secondary:focus {
    @include focus-shadow($gradient-secondary-start);
  }

  &-primary:focus {
    @include focus-shadow($primary);
  }
}
