.button {
  display: inline-flex;
  appearance: none;
  border: none;
  background: none;
  border-radius: var(--button-border-radius, #{$border-radius-sm});
  padding: var(--button-padding-y) var(--button-padding-x);
  line-height: 1.5;
  min-height: calc(1.5em + calc(var(--button-padding-y) * 2) + 4px);
  align-items: center;

  & > span {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  // Variants (Colors)
  &-default {
    --button-color: var(--white);
  }

  &-inverted {
    --button-color: var(--black);
    color: var(--white);
  }

  &-primary {
    --button-color: #{$gradient};
    color: $white;
  }

  &-secondary {
    --button-color: #{$gradient-secondary};
    color: $white;
  }

  &-muted {
    --button-color: var(--gray-400);
    color: var(--white);
  }

  &-supermuted {
    --button-color: var(--gray-100);
    color: var(--gray-700);
  }

  // Types
  &-solid {
    background: var(--button-color);
    transition: 0.25s ease;
    padding: calc(var(--button-padding-y) + 2px) calc(var(--button-padding-x) + 2px); /* Compensate for outline border */

    &.button-default {
      color: var(--black);
    }

    &.button-inverted:hover,
    &.button-muted:hover,
    &.button-primary:hover,
    &.button-secondary:hover {
      color: var(--white);
    }

    &.button-supermuted:hover {
      color: var(--black);
    }
  }

  &-outline {
    border: 2px solid var(--button-color);
    color: var(--button-color);
    transition: 0.25s ease;

    &.button-supermuted,
    &.button-muted {
      color: var(--gray-700);
    }

    &.button-primary,
    &.button-secondary {
      background: var(--button-color);
      padding: 2px;
      border: 0;
      position: relative;

      span {
        position: relative;
        padding: var(--button-padding-y) var(--button-padding-x);
        background: var(--button-color);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        z-index: 2;
      }

      &::before {
        content: '';
        background: var(--white);
        position: absolute;
        top: 2px;
        left: 2px;
        right: 2px;
        bottom: 2px;
        border-radius: calc(var(--button-border-radius, #{$border-radius-sm}) - 2px);
        z-index: 1;
      }
    }

    &:hover:not(:disabled) {
      background: var(--button-color);
      color: $white;
    }

    &.button-default:hover:not(:disabled) {
      color: var(--black);
    }

    &.button-inverted:hover:not(:disabled) {
      color: var(--white);
    }

    &.button-supermuted:hover:not(:disabled) {
      color: var(--black);
      background: var(--white);
      border-color: var(--white);
    }
  }

  // Shadow
  &-has-shadow {
    &.button-solid {
      box-shadow: $shadow-default;
    }

    &:hover:not(:disabled) {
      box-shadow: $shadow-raised;
      transform: translateY(-4%);
    }
  }

  // Sizes
  &-sm {
    --button-border-radius: #{$border-radius-xs};
    --button-padding-x: .5rem;
    --button-padding-y: .25rem;
  }

  &-md {
    --button-border-radius: #{$border-radius-sm};
    --button-padding-x: .75rem;
    --button-padding-y: .5rem;
  }

  &-lg {
    --button-border-radius: #{$border-radius-sm};
    --button-padding-x: 1rem;
    --button-padding-y: .75rem;
    font-weight: 900;
  }

  &-xl {
    --button-border-radius: #{$border-radius-md};
    --button-padding-y: 1.25rem;
    --button-padding-x: 2.25rem;
    font-weight: 900;
  }

  //Hover
  &:hover:not(:disabled) {
    text-decoration: none;
  }

  //Focus
  &:focus {
    @include focus-shadow($primary);
  }

  &-secondary:focus {
    @include focus-shadow($gradient-secondary-start);
  }

  &-primary:focus {
    @include focus-shadow($primary);
  }

  &:disabled {
    opacity: 0.5;
  }
}
