.footer {
  --footer-color: currentColor;
  padding: 3rem 0;

  &-logo {
    svg {
      height: 2rem;
    }
  }

  a, a:hover {
    color: var(--footer-color);
  }

  &-muted {
    --footer-color: var(--text-muted);

    a:hover {
      color: var(--text-color);
    }
  }

  &-light {
    --footer-color: #{$white};

    a:hover {
      opacity: .75;
    }
  }

  &-text {
    color: var(--footer-color);

    .svg-inline--fa {
      height: 1em;
      width: 1em;
    }

    address {
      display: inline;
      margin: 0;
    }
  }

  &-social {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-right: 1rem;
    }

    svg {
      height: 1.5em;
      width: 1.5em;
    }
  }
}
