.compromis-logo {
  .letter {
    fill: var(--text-color);
  }
  .background {
    fill: $white;
  }
  .careta {
    fill: url(#compromisGradient);
  }
  .mono {
    .letter {
      fill: currentColor;
    }
    .careta {
      fill: currentColor;
    }
    .background {
      display: none;
    }
  }
  .force-white {
    .letter {
      fill: $white;
    }
  }
  .force-black {
    .letter {
      fill: $black;
    }
  }
}

//collapse logo
@mixin collapsible {
  max-width: 1.8rem;
  overflow: hidden;
}

.logo-wrapper {
  transition: max-width 0.5s ease;
  max-width: 15rem;

  &.collapsible-always {
    @include collapsible;
  }

  @each $breakpoint, $value in $grid-breakpoints {
    @include media-breakpoint-down($breakpoint) {
      &.collapsible-#{$breakpoint} {
        @include collapsible;
      }
    }
  }
}

.mes-logo,
.iniciativa-logo,
.verds-logo {
  &.mono .path {
    fill: currentColor;
  }
}

.mes-logo .path {
  fill: $mes;
}

.iniciativa-logo {
  .logo {
    fill: $mes;
  }

  .letters {
    fill: $gray-900;
  }
}

.verds .path {
  fill: $verds;
}
