.compromis-logo {
  .letter {
    fill: #353949;
  }
  .background {
    fill: #FFFFFF;
  }
  .careta {
    fill: url(#compromisGradient);
  }
  .mono {
    .letter {
      fill: currentColor;
    }
    .careta {
      fill: currentColor;
    }
    .background {
      display: none;
    }
  }
  .inverted {
    .letter {
      fill: white;
    }
  }
}

.mes-logo,
.iniciativa-logo,
.verds-logo {
  &.mono .path {
    fill: currentColor;
  }
}

.mes-logo .path {
  fill: $mes;
}

.iniciativa-logo {
  .logo {
    fill: $mes;
  }

  .letters {
    fill: $gray-900;
  }
}

.verds .path {
  fill: $verds;
}
