.pill {
  background-color: var(--b-white);
  color: $primary;
  border-radius: 10rem;
  white-space: nowrap;
  padding: 0.5em 1em;

  &-sm {
    font-size: $text-sm;
  }

  &-lg {
    font-size: $text-lg;
  }

  &-muted {
    background: var(--b-gray-400);
    color: var(--b-white);
  }

  &-supermuted {
    background: var(--b-gray-100);
    color: var(--b-gray-700);
  }
}

a.pill {
  &:hover {
    background-color: var(--b-gray-100);
    color: var(--b-black);
    text-decoration: none;
  }

  &:focus {
    @include focus-shadow($primary);
  }

  &-focus-dark:focus {
    @include focus-shadow($black);
  }

  &-to-primary {
    &:hover {
      background: $gradient;
      color: $white;
    }
  }

  &-to-secondary {
    color: $gradient-secondary-start;

    &:hover {
      color: $white;
      background: $gradient-secondary;
    }

    &:focus {
      @include focus-shadow($gradient-secondary-start);
    }
  }

  &-muted:hover {
    background: var(--b-gray-600);
    color: var(--b-white);
  }

  &-supermuted:hover {
    background: var(--b-gray-200);
    color: var(--b-gray-700);
  }

  &-wrapper {
    display: inline-flex;
  }
}

.pill-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;

  li {
    margin: 0 0.5em 0.5em 0;
  }

  .pill {
    display: block;
  }
}
