.table {
  width: 100%;

  td {
    padding: var(--b-card-padding, 0.75rem 1rem);
    vertical-align: top;
  }

  th {
    border-bottom: 1px solid var(--b-gray-300);
    padding: calc(var(--b-card-padding, 0.75rem) * 1.5) var(--b-card-padding, 1rem);
    background: var(--b-gray-50);
    vertical-align: bottom;
  }

  tr:not(:last-child) td {
    border-bottom: 1px solid var(--b-gray-200);
  }

  &.vertical-divisions {
    td:not(:last-child),
    th:not(:last-child) {
      border-right: 1px solid var(--b-gray-200);
    }
  }

  &.tint-alternate-rows {
    tr:nth-child(even) td {
      background: var(--b-gray-50);
    }

    tr:nth-child(odd) td {
      background: var(--b-white);
    }
  }

  &.align-center {
    td {
      vertical-align: center;
    }
  }
}
