// Brand colors
$primary: #ff6720 !default;
$black: #353949 !default;
$white: #fff !default;
$gradient-primary-start: #d23517 !default;
$gradient-primary-end: #f39128 !default;
$gradient-secondary-start: #38b34a !default;
$gradient-secondary-end: #8cc949 !default;
$gradient-feminism-start: #7d3a81 !default;
$gradient-feminism-end: #c54687 !default;

// Secondary colors
$yellow: #ffd10f !default;
$orange: #f79226 !default;
$red: #ef404d !default;
$purple: #a14a9c !default;
$blue: #55a4db !default;
$green: #7fc347 !default;
$indigo: #6610f2 !default;
$pink: #d63384 !default;
$teal: #20c997 !default;
$cyan: #2dc7e6 !default;

// Party colors
$mes: #f95a32 !default;
$iniciativa: #ad283f !default;
$verds: #5ab552 !default;

// Social networks
$social-networks: (
  facebook: #3b5998,
  twitter: #00acee,
  instagram: #e1306c,
  youtube: #ff0800,
  telegram: #08c,
  tiktok: #000,
  twitch: #772ce8,
);

// Grays
$gray-50: #f8faff;
$gray-100: #eef0f6;
$gray-200: #e5e7ed;
$gray-300: #d1d3db;
$gray-400: #bec0c8;
$gray-500: #aaadb6;
$gray-600: #979aa4;
$gray-700: #707380;
$gray-800: #414554;
$gray-900: #353949;
$gray-1000: #262934;

// Gradients
$gradient: linear-gradient(
  var(--gradient-orientation, 45deg),
  var(--gradient-start, #{$gradient-primary-start}),
  var(--gradient-end, #{$gradient-primary-end})
);
$gradient-primary: linear-gradient(
  var(--gradient-orientation, 45deg),
  $gradient-primary-start,
  $gradient-primary-end
) !default;
$gradient-secondary: linear-gradient(
  var(--gradient-orientation, 45deg),
  $gradient-secondary-start,
  $gradient-secondary-end
) !default;
$gradient-feminista: linear-gradient(
  var(--gradient-orientation, 45deg),
  $gradient-feminism-start,
  $gradient-feminism-end
) !default;
$gradient-lgtb: linear-gradient(
  180deg,
  $red 0%,
  $red 16.6%,
  $orange 16.6%,
  $orange 33.2%,
  $yellow 33.2%,
  $yellow 49.8%,
  $green 49.8%,
  $green 66.4%,
  $blue 66.4%,
  $blue 83%,
  $purple 83%,
  $purple 100%
) !default;

// UI colors
$body-bg: $gray-50 !default;
$text-color: $black !default;
$text-muted: $gray-700 !default;
$link-color: $primary !default;
$link-color-hover: $primary !default;
$link-decoration: none !default;
$link-decoration-hover: underline;

// Typography
$font-family-sans-serif: 'Manrope', system-ui, -apple-system, 'Segoe UI',
  Helvetica, Arial, sans-serif !default;

// Font sizes
$text-xs: 0.75rem !default;
$text-sm: 0.875rem !default;
$text-md: 1rem !default;
$text-lg: 1.125rem !default;
$text-xl: 1.25rem !default;
$text-2xl: 1.666rem !default;
$text-3xl: 2.369rem !default;
$text-4xl: 3.157rem !default;
$text-5xl: 4.209rem !default;
$text-6xl: 5.653rem !default;
$text-7xl: 7rem !default;

// Shadows
$shadow-default: 0 0.8rem 1.7rem -0.3rem rgba($gray-900, 0.15),
  0 0.5rem 1rem -0.5rem rgba($gray-900, 0.2),
  0 -0.4rem 1rem -0.4rem rgba($gray-900, 0.015) !default;
$shadow-raised: 0 1.25rem 2.1rem -0.3rem rgba($gray-900, 0.15),
  0 0.9rem 1.4rem -0.5rem rgba($gray-900, 0.2),
  0 -0.75rem 1.4rem -0.4rem rgba($gray-900, 0.015) !default;
$box-shadow: $shadow-default;

// Border radii
$border-radius-xs: 0.5rem !default;
$border-radius-sm: 0.75rem !default;
$border-radius-md: 1rem !default;
$border-radius-lg: 1.5rem !default;
$border-radius-xl: 2rem !default;
$border-radius-pill: 50rem !default;
$border-radius: $border-radius-md !default;
$blob-radius: 10rem !default;

// Navbar
$navbar-safe-area: 6.25rem;

// Utility variables
$css-vars: (
  'primary': $primary,
  'gradient-primary-start': $gradient-primary-start,
  'gradient-primary-end': $gradient-primary-end,
  'gradient-secondary-start': $gradient-secondary-start,
  'gradient-secondary-end': $gradient-secondary-end,
  'black': $gray-900,
  'white': #fff,
  'gray-50': $gray-50,
  'gray-100': $gray-100,
  'gray-200': $gray-200,
  'gray-300': $gray-300,
  'gray-400': $gray-400,
  'gray-500': $gray-500,
  'gray-600': $gray-600,
  'gray-700': $gray-700,
  'gray-800': $gray-800,
  'gray-900': $gray-900,
  'body-bg': $body-bg,
  'text-color': $text-color,
  'text-muted': $text-muted,
  'link-color': $link-color,
  'link-color-hover': $link-color-hover,
);

$css-vars-dark: (
  'primary': $primary,
  'black': $white,
  'white': $gray-900,
  'gray-50': $gray-1000,
  'gray-100': $gray-800,
  'gray-200': $gray-700,
  'gray-300': $gray-600,
  'gray-400': $gray-500,
  'gray-500': $gray-400,
  'gray-600': $gray-300,
  'gray-700': $gray-200,
  'gray-800': $gray-100,
  'gray-900': $gray-50,
  'body-bg': $gray-1000,
  'text-color': $white,
  'text-muted': $gray-300,
  'link-color': $link-color,
  'link-color-hover': $link-color-hover,
);

$backgrounds: (
  'white': (
    'bg': var(--white),
    'text': var(--black),
  ),
  'dark': (
    'bg': var(--black),
    'text': var(--white),
  ),
  'primary': (
    'bg': var(--primary),
    'text': var(--white),
  ),
  'gray': (
    'bg': var(--gray-700),
    'text': var(--white),
  ),
  'gradient': (
    'bg': $gradient,
    'text': $white,
  ),
);

$text-sizes: (
  'xs': $text-xs,
  'sm': $text-sm,
  'md': $text-md,
  'lg': $text-lg,
  'xl': $text-xl,
  '2xl': $text-2xl,
  '3xl': $text-3xl,
  '4xl': $text-4xl,
  '5xl': $text-5xl,
  '6xl': $text-6xl,
  '7xl': $text-7xl,
);

$text-colors: (
  'base': var(--text-color),
  'muted': var(--text-muted),
  'white': $white,
  'black': $black,
  'primary': var(--primary),
  'red': $red,
);

$gradients: (
  'primary': (
    'start': $gradient-primary-start,
    'end': $gradient-primary-end,
  ),
  'secondary': (
    'start': $gradient-secondary-start,
    'end': $gradient-secondary-end,
  ),
  'feminism': (
    'start': $gradient-feminism-start,
    'end': $gradient-feminism-end,
  ),
);

$border-radii: (
  'xs': $border-radius-xs,
  'sm': $border-radius-sm,
  'md': $border-radius-md,
  'lg': $border-radius-lg,
  'xl': $border-radius-xl,
);

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 2,
  6: $spacer * 3,
);
